.*.zni
.ssr*
.dotnet
.cabal
.mono
.stack
Videos/
.IntelliJIdea2018.1/
.PyCharm2018.2/
.ghc/
.idlerc/
.jformdesigner/
.m2/
.mozilla/
.nbprofiler/
.p2/
.pdfbox.cache
.pulse-cookie
.python_history
.steam/
.steam*
.visualvm/
PycharmProjects/
Test/
bfg-1.13.0
snap/
Apps/
*.odt
*.icls
.kde/
.esd*
*~
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.dbus/
.dmrc
.gitconfig
.gksu*
.gitignore.swp
.gnome/
.lesshst
.local/
.macromedia/
.npm/
.nv/
.nvidia-settings-rc
.oracle_jre_usage/
.pki/
.profile
.Idea*
.ssh/
.sudo_as_admin_successful
.tldr/
.viminfo
.xsession-errors
.xsession-errors.old
Documents/
Downloads/
Pictures/
Workspace/
Temp/
wvpn
.grasp_settings/
.java/
.node-gyp/
.vim/bundle/
node_modules/
package-lock.json
.teensy
.netr*
.joinnow/
.rnd
.X*
.dir*
.dmenurc
.elinks/
.gimp*
.gtkrc*
.icons/
.moc/
.moonchild*
.thumbnails/
.xinitrc
.config/Trolltech.conf
.config/autostart/
.config/chromium/
.config/csharp.history
.config/dconf/
.config/enchant/
.config/epiphany/
.config/evolution/
.config/galculator/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/kazam/
.config/libaccounts-glib/
.config/libinput-gestures.conf
.config/libreoffice/
.config/marlin/
.config/menus/
.config/mimeapps.list
.config/monitors.xml
.config/nautilus/
.config/neofetch/
.config/plank/
.config/pulse/
.config/spotify/
.config/touchpad-indicator/
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/youtube-dl/
.gitstatus
.gnome2/
.nuget/
.templateengine/
.wget-hsts
.zcompdump
java_error_in_IDEA.hprof
*.log
Videos/
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks/
.config/qutebrowser/qsettings/
.config/qutebrowser/quickmarks
.config/pavucontrol.ini
.config/qutebrowser/qutebrowser/
.histfile
.ssh-agent-thing
.zprofile
Builds/
ignore
services
todolist
.bash_profile
.config/configstore/
.config/Code/Backups/
.config/Code/Cache/
.config/Code/CachedData/
.config/Code/CachedExtensions/
.config/Code/Cookies
.config/Code/Cookies-journal
.config/Code/GPUCache/
.config/Code/Local Storage/
.config/Code/Preferences
.config/Code/User/workspaceStorage/
.config/Code/languagepacks.json
.config/Code/machineid
.config/Code/storage.json
.config/GIMP/
.fehbg
.gnupg/
.oh-my-zsh/
.vscode/
.zcompdump-newpyArch-5.6.2
.zsh_history
.zshrc.pre-oh-my-zsh
xclip
