.kde/
..bashrc.un~
..vimrc.un~
.ICEauthority
.Xauthority
.aSample.un~
.bash_history
.bash_logout
.bashrc~
.cache/
.config/
.dbus/
.dmrc
.gitconfig
.gitignore.swp
.gnome/
.lesshst
.local/
.macromedia/
.npm/
.nv/
.nvidia-settings-rc
.oracle_jre_usage/
.pki/
.profile
.ssh/
.sudo_as_admin_successful
.tldr/
.viminfo
.vimrc~
.wvpn.sh.un~
.wvpn.un~
.xsession-errors
.xsession-errors.old
Documents/
Downloads/
Pictures/
Workspace/
wvpn
wvpn~
