[submodule "Scripts/intellijPywal"]
	path = Scripts/intellijPywal
	url = https://github.com/Mr-SD/intellijPywal
[submodule "Scripts/pywal"]
	path = Scripts/pywal
	url = git@github.com:dylanaraps/pywal.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/plugged/coc.nvim"]
	path = vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim
