.ssr*
.IntelliJIdea2018.1/
.PyCharm2018.2/
.ghc/
.idlerc/
.jformdesigner/
.m2/
.mozilla/
.nbprofiler/
.p2/
.pdfbox.cache
.pulse-cookie
.python_history
.steam/
.steam*
.visualvm/
.vscode/
Apps/
PycharmProjects/
Test/
bfg-1.13.0
snap/
*.odt
*.icls
.kde/
.esd*
*~
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.dbus/
.dmrc
.config/
.gitconfig
.gksu*
.gitignore.swp
.gnome/
.lesshst
.local/
.macromedia/
.npm/
.nv/
.nvidia-settings-rc
.oracle_jre_usage/
.pki/
.profile
.Idea*
.ssh/
.sudo_as_admin_successful
.tldr/
.viminfo
.xsession-errors
.xsession-errors.old
Documents/
Downloads/
Pictures/
Workspace/
Temp/
wvpn
.grasp_settings/
.java/
.node-gyp/
.vim/bundle/
node_modules/
package-lock.json
.teensy
.netr*
.joinnow/
.rnd
.X*
.bash*
.dir*
.dmenurc
.elinks/
.gimp*
.gtkrc*
.icons/
.moc/
.moonchild*
.thumbnails/
.xinitrc
Videos/
